body{
    background-color: #F5F5F5;
    margin: 0px;
    font-family: sans-serif;
}

#introtext1 {
    color: rgb(0, 0, 0);
}

.highlight {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

#introContainer {
    width: 450x;
    margin: 0px 35px 0px 0px;
    float:left;
}

#introPicture {
    float: left;
}

.reset {
    clear: both;
}

#maincontainer {
    width: 900px;
    margin: 0px auto;
}

#hobbycontainer {
    width: 30;
}

#paddingtest {
    width: 300;
    height: 300;
    background-color: #fa0404;
}

p {
    margin: 0px;
}

#navigation {
    width: 35px;
    padding: 5px;
    background-color: rgb(43, 150, 226);
}