body{
    background-color: #F5F5F5;
    margin: 0px;
    font-family: sans-serif;
}

#introtext1 {
    color: rgb(0, 0, 0);
    float: left;
}

.highlight {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

#introContainer {
    width: 450x;
    margin: 0px auto;
    float:left;
}

#introPicture {
    margin: 0px auto;
    width: 150px;
    float: left;
}

.reset {
    clear: both;
}

#maincontainer {
    width: 800px;
    margin: 0px auto;
}

#hobbycontainer {
    float: left;
    margin: 10px;
}

p {
    margin: 0px;
}

#navigation {
    width: 35px;
    padding: 5px;
    background-color: rgb(43, 150, 226);
    float: left;
}

#secondPicture {
    margin: 15px auto;
    width: 200px;
    float: left;
}

#miniPicture {
    margin: 15px auto;
    width: 100px;
    float: left;
}
