body{
    background-color: #fde0ca;
    margin: 50px;
    font-family: sans-serif;
}

#introtext1 {
    color: rgb(0, 0, 0);
}

.highlight {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

#introContainer {
    width: 640px;
}

#introPicture {
    float: left;
}

.reset {
    clear: both;
}